<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>full</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>https://repo.maven.apache.org/maven2/</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>vaadin-addons</id>
					<url>http://maven.vaadin.com/vaadin-addons</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>lanoga-snapshots</id>
					<url>http://repo.lanoga.local/repository/snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
				<repository>
					<id>lanoga-releases</id>
					<url>http://repo.lanoga.local/repository/internal</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
			</repositories>
			 <properties>
				<maven.test.skip>true</maven.test.skip>
			</properties>
		</profile>
	</profiles>
	<servers>
		<server>
			<id>lanoga-snapshots</id>
			<username>admin</username>
			<password>fvkf84kjf</password>
		</server>
		<server>
			<id>lanoga-releases</id>
			<username>admin</username>
			<password>fvkf84kjf</password>
		</server>
	</servers>
	<activeProfiles>
		<activeProfile>full</activeProfile>
	</activeProfiles>
</settings>