<p>Tisztelt $recipient!</p>

<p><br></p>

<p>Az alábbi felhasználó regisztrált a rendszerbe: $data.</p>
<p>A felhasználó engedélyezéséhez jelentkezzen be a felületre.</p>
<p><strong>Bejelentkezés: </strong>$url</p>

<p><br></p>

<p><strong>Tisztelettel,</strong></p>
<p>$tenant</p>
<p>$appname</p>

<p><br></p>

<p>$currentDate</p>